
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}
select {
    margin-bottom: 20px;
    padding: 5px;
}

.hidden {
    display: none;
}