body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom, #003366, #66ccff);
    color: white;
    text-align: center;
    padding: 20px;
    height: 100%;
    display: block;
    align-items: center;
    min-height: 100vh;
}

h1 {
    text-transform: uppercase;
}

a {
    color: white;
}

#inputForm {
    width: 50%; /* Adjust width as needed */
    max-width: 550px; /* Prevents form from stretching too wide */
    padding: 20px;
    background: rgb(2, 2, 17);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: left; /* Ensures text remains left-aligned */
    margin: auto;
}

input[type=text] {
    width: 40px;
}

input[type=submit] {
    border:none;
    background-color: white;
    color: rgb(2, 2, 17);
    text-decoration: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
}

.requirements {
    display: inline-flex;
    margin: auto;
    width: 100%;
    justify-content: center;
}

.container {
    text-align: center;
    margin: 10px 20px;
    background-color: white;
    color: black;
    border: black 3px solid;
    max-width: 400px;
    border-radius: 100%;
}

.notMet {
    background-color: rgba(255, 0, 0, .8);
    padding: 20px;
    margin: 0%;
    border-radius: 100%;
}

.threshold {
    background-color: rgba(255, 251, 0, 0.8);
    padding: 20px;
    margin: 0%;
    border-radius: 100%;
}

.objective {
    background-color: rgba(0, 255, 115, 0.8);
    padding: 20px;
    margin: 0%;
    border-radius: 100%;

}




.charts {
    display: flex;
    width: 100%;
    justify-content: center;
    min-height: 50vh;
}
.graph {
    width: 50%;
    height: auto;
    margin: auto;
}
canvas {
    background-color: white;
    border: #003366 5px solid;
    width: 100%;
    height: auto;
}

.hidden {
    display:none;
}

.optionPanel {
    padding: 20px;
    font-size: large;
}

table, th, td{
    border: 3px solid;
    margin: auto;
    background-color: white;
    color: #003366;
    border-collapse: collapse;
}
th {
    padding: 10px;
}
